  <form action="/authentications" method="post">
    <label for="Email">Email:</label>
    <input id="Email" name="Email" type="text" class="rq-form-element" autofocus/>

    <button type="submit">Submit!</button>
  </form>