  <form action="/current_users" method="post">
    <label for="name">User's name:</label>
    <input id="name" name="name" type="text" class="rq-form-element" autofocus/>

    <label for="email">Email:</label>
    <input id="email" name="email" type="text" class="rq-form-element" autofocus/>

    <button type="submit">Log In</button>
  </form>