<h2><%=@event.name() %> </h2>

  <form action="/events/<%= @event.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">

    <button type="submit">Delete Event</button>
  </form>

  <p><a href="/index"><button class="button btn"> HOME</button></a></p>
  <p><a href="/events"><button class="button btn"> EVENTS</button></a></p>
  <p><a href="/hosts"><button class="button btn"> HOSTS</button></a></p>
