<h2>Oops.Error 404!!! That username or Email exists!!</h2>

<p><a href="/index"><button class="button btn"> HOME</button></a></p>
<p><a href="/events"><button class="button btn"> EVENTS</button></a></p>
<p><a href="/hosts"><button class="button btn"> HOSTS</button></a></p>
