  <form action="/events" method="post">
    <label for="name">Event's name:</label>
    <input id="name" name="name" type="text" class="rq-form-element" autofocus/>

    <label for="description">Event's description:</label>
    <input id="description" name="description" type="text" class="rq-form-element" autofocus/>

    <label for="number_of_tickets">Event's Number of Tickets:</label>
    <input id="number_of_tickets" name="number_of_tickets" type="text" class="rq-form-element" autofocus/>

    <button type="submit">Submit!</button>
  </form>