<h1><%= @event.name() %></h1>

  <% if @event.users().any?() %>

    <h3>Event <%= @event.name() %> is being attended by:</h3>
    <ul>
      <% @event.users().each() do |user| %>
        <li><%= user.name() %></li>
      <% end %>
    </ul>
  <% else %>
    <p> <%= @event.name() %> has no Attenders yet!</p>
  <% end %>


<p><a href="/index"><button class="button btn"> HOME</button></a></p>
