<p>hi dennis</p>

<a href="/event"><button class="button btn">Events</button></a>
<a href="/host"><button class="button btn">Hosts</button></a>
<a href="/event/new"><button class="button btn">New Event</button></a>
<a href="/host/new"><button class="button btn">New Host</button></a>