<!DOCTYPE html>
  <html>

<head>
  <title>Bryan Memeti</title>
  <!--Google sign in Authentication-->
  <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
  <!--Google sign in Authentication-->

  <!--my links to bootstrap and CSS-->
  <link rel="stylesheet" href="/styles.css">
</head>
  
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>