<!DOCTYPE html>
  <html>

<head>
  <title>Foughts Entertainment</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--my links to bootstrap and CSS-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <!--my links to bootstrap and CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/styles.css"> -->
      <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
      <link rel="stylesheet" type="text/css" href="/styles.css">
      <link rel="icon" type="image" href="https://cdn-az.allevents.in/banners/aaf92d2deced4786d271a737393c5516">
</head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
