<!DOCTYPE html>
<html>
<head>
  <title>Bryan Memeti</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--materialize-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <!--materialize-->

    <!--my links to bootstrap and CSS-->
  <link rel="stylesheet" href="/styles.css"> 
</head>

<body>
<!-- Trigger/Open The Modal -->
<button id="myBtn" class="button btn">My Account</button></a>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
   <form action="/sign_ups" method="post">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text" class="rq-form-element" autofocus/>

    <label for="Email">Email:</label>
    <input id="Email" name="Email" type="email" class="rq-form-element" autofocus/>

    <button type="submit">Register!</button>
  </form>
  <a href="/current_users"><button class="button btn">Already am memeber?</button></a>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>