<% if @message %>
  <p><%= @message %></p>
  <% end %>

<a href="/event"><button class="button btn">Events</button></a>
<a href="/host"><button class="button btn">Hosts</button></a>
<a href="/user"><button class="button btn">Users</button></a>
<a href="/event/new"><button class="button btn">New Event</button></a>
<a href="/host/new"><button class="button btn">New Host</button></a>
<a href="/user/new"><button class="button btn">New User</button></a>
<a href="/logout"><button class="button btn">Logout</button></a>